<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">SaferInternetBot</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        @if (User.Identity.IsAuthenticated)
        {
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "Intent")">Kategorien</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("List", "DefaultAnswer")">Einstellungen</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "Bot")">Testen</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "User")">Benutzer</a>
            </li>
            <li>
                <a class="nav-link" href="@Url.Action("List", "Conversation")">Konversationen</a>
            </li>
        </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-danger" href="@Url.Action("Invalidate", "Cache", new { redirectUrl = Request.Url.PathAndQuery})">Cache leeren</a>
                </li>
            </ul>
            <span class="navbar-text">
                @User.Identity.Name
            </span>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Logout", "Login")">Ausloggen</a>
                </li>
            </ul>
        }
    </div>
</nav>
